<%= render '/users/notices' %>

  <div class="info">
    <p><strong>Name:</strong> <%= @beneficiary.name %></p>
    <p>Date of Birth: <%= @beneficiary.formatted_date_of_birth if @beneficiary.date_of_birth %></p>
    <p>Gender: <%= @beneficiary.gender %></p>
    <p>ID number: <%= @beneficiary.id_number %></p>
    <p><%= link_to 'Edit Beneficiary Profile', edit_beneficiary_path(@beneficiary) %></p>
    <button id="show-updates" data-id="<%= @beneficiary.id %>">List Case Notes</button>
    <div id="updates" style="margin: 20px"></div>
    <button id="view-edit" data-id="<%= @beneficiary.id %>" data-updateid="<%= @beneficiary.updates.size %>">Edit/View Last Note</button>
    <div id="update" style="margin: 40px"></div>
    
    </div>

<script type="text/javascript" charset="utf-8">
  $(function viewEdit() {
    $("#view-edit").on("click", function() {
      $('#update').empty();
      var id = $(this).data("id");
      var updateId = $(this).data("updateid");
      $.get("/beneficiaries/" + id + "/updates/" + updateId, function(data) {
        var update = data;
        updateDate = update["date"];
        updateNote = update["notes"];
        updateComment = update["comments"][0]["id"];
        $("#update").append(`<p>Date: ${updateDate}, Note: ${updateNote}</p>`); 
        $("#update").append(`<p>Comment: ${updateComment}</p>`);
      });
    });
  });
</script>  

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#show-updates").on("click", function() {
      $('#updates').empty();
      var id = $(this).data("id");
      $.get("/beneficiaries/" + id + "/updates", function(data) {
        var updates = data;
        for (i = updates.length -1; i > -1; i--) { 
          update = updates[i]["id"];
          date = updates[i]["date"];
          note = updates[i]["notes"];
          complete = updates[i]["complete"];
          $("#updates").append(`<p>Update: ${update}. Date: ${date}   Note: ${note}</p>`);
        }   
      });
    });
  });
</script>

