<%= render '/users/notices' %>

  <div class="info">
    <p><strong>Name:</strong> <%= @beneficiary.name %></p>
    <p>Date of Birth: <%= @beneficiary.formatted_date_of_birth if @beneficiary.date_of_birth %></p>
    <p>Gender: <%= @beneficiary.gender %></p>
    <p>ID number: <%= @beneficiary.id_number %></p>
    <p><%= link_to 'Edit Beneficiary Profile', edit_beneficiary_path(@beneficiary) %></p>
    <button class="show-updates" data-id="<%= @beneficiary.id %>">View Case Notes</button>
    <div id="updates" style="margin: 20px"></div>
    <p><%= link_to 'Edit Case Notes', beneficiary_update_path(@beneficiary, @beneficiary.updates.size) %></p>
  </div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".show-updates").on("click", function() {
      $('#updates').empty();
      var id = $(this).data("id");
      $.get("/beneficiaries/" + id + "/updates", function(data) {
        var updates = data;
        for (i = updates.length -1; i > -1; i--) { 
          update = updates[i]["id"];
          date = updates[i]["date"];
          note = updates[i]["notes"];
          complete = updates[i]["complete"];
          $("#updates").append("<p> Update: " + update + ". Date: " + date + "  <a href='http://localhost:3000/beneficiaries/" + id + "/updates/" + update + "'>View/Edit</a>" + "</p>");
        }   
      });
    });
  });
</script>

