<% if @beneficiary.present? %>
  <h1>Case Notes for <%= @beneficiary.name %></h1>
<% else %>
  <h1> All Case Notes </h1>
<% end %>

<% @updates.each do |update| %>
<p> Date: <%= update.formatted_date %>, Note: <%= update.notes %>, Complete <%= check_box_tag :complete, 1, update.complete %>
  <%= link_to "Edit Case Note", edit_update_path(update) %></p>
<% end %>

<% if @beneficiary.present? %>
  <%= link_to "Create New Update", new_beneficiary_update_path %><br>
<% end %>
<%= link_to "View Late Update Report", reports_late_updates_path %>
