<%= render '/users/notices' %>

<h1>Update for <%= @update.beneficiary.name %> </h1>

<div class="info">
    <div id="update" style="margin: 20px">
        <p><%= @update.id %>.  Date: <%= @update.formatted_date %>, Note: <%= @update.notes %>, Complete: <%= @update.complete %></p>
        <% @update.comments.each do |comment| %>
            <p>Comment: <%= comment.description %></p>  
        <% end %>
    </div>
    <%= link_to "Return to Beneficiary", beneficiary_path(@update.beneficiary) %>
</div>

