<%= render '/users/notices' %>

<h1>Update for <%= @update.beneficiary.name %> </h1>

<div class="info">
    <div id="update" style="margin: 20px">
        <p><%= @update.id %>.  Date: <%= @update.formatted_date %>, Note: <%= @update.notes %>, Complete: <%= @update.complete %></p>
    </div>
    <button class="js-next" data-id="<%= @update.id %>" data-benid="<%= @update.beneficiary.id %>">View Next</button>
    <br></br>
    <%= link_to "Return to Beneficiary Updates", beneficiary_updates_path(@update.beneficiary) %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-next").on("click", function() {
        $('#update').empty();
        var id = $(this).data("id");
        if (id > -1) {
            var nextid = id - 2;
        };   
        var benid = $(this).data("benid");
        $("#update").append(nextid);
        $.get("/beneficiaries/" + benid + "/updates", function(data) {
            var updates = data;
            update = updates[nextid]["id"];
            date = updates[nextid]["date"];
            note = updates[nextid]["notes"];
            complete = updates[nextid]["complete"];
            $("#update").append("<p>" + update + ".    Date: " + date + ", Note: " + note + ",  Complete: " + complete + "</p>");
            comment = updates[nextid]["comments"][0]["description"];
            $("#update").append("<p>Comment:  " + comment + "</p>")
            $("js-next").attr("data-id", nextid)
         });
    });
  });
</script>
